* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #232332;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    margin: 0 auto;
    max-width: 600px;
}

.square-container {
    margin: 5% auto;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .square-container {
    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 12px;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    border-radius: 25px;
    display: none;
    margin: 2.5% .5%;
}

.square1 {
    width: 30%;
    padding-bottom: 30%;
    border-radius: 25px;
    display: none;
    margin: 2.5% .5%;

}

h1 {
    color: white;
    text-align: center;
}
.color-display {
    text-transform: uppercase;
    font-size: 42px;
}

.action-menu {
    background-color: rgb(63, 57, 57);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 800;
    padding: 15px;
}
.action-menu .container{
    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 12px;
}


.niveles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.modo {
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid black;
    text-decoration: none;
    color: #232332;
    background-color: white;
    font-size: 16px;
    font-weight: 800;   
    transition: all 0.3s;
    box-shadow: 0px 5px black;
}
    
.modo:hover, .modo:active{
    box-shadow: 0px 3px black;
    transform: translate(0, 2px);
    color: white;
    background-color:  #232332;
}
.level {
    box-shadow: 0px 3px black;
    transform: translate(0, 2px);
    color: white;
    background-color:  #232332;
}

.modo:focus, .level:focus {
    outline: none;
}

#easyBtn {
    margin-left: auto;
}

.action-menu span{
    padding: 8px 0;
    color: white;
    margin: 0 auto;
    font-size: 12px;
}


@media screen and (max-width: 700px) {

    .action-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: 800;
        padding: 15px;
    }
    .action-menu .container{
        height: 100%;
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 12px;
    }
    
    .niveles {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    }

    #easyBtn {
        margin-left: 0;
    }
}